.mod-ricochet {
    background: url(/resources/ricochet-bg.png{{{ns}}}) no-repeat center center;
    background-size: 337px 428px;
    height: 428px;
    width: 337px;
    position: relative;
}

.mod-ricochet .mod-drag-handle {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.mod-ricochet .mod-control-group-interval {
    position: absolute;
    z-index: 2;
    top: 43px;
    left: 36px;
}

.mod-ricochet .mod-control-group-times {
    position: absolute;
    z-index: 2;
    top: 136px;
    left: 132px;
    width: 200px;
}

.mod-ricochet .mod-control-group-times::after {
    clear: both;
    content: "";
    display: block;
}

.mod-ricochet .mod-control-group-interval .mod-slider {
    position: absolute;
    z-index: 100;
    width: 70px;
    height: 315px;
}

.mod-ricochet .mod-control-group-times .mod-slider {
    float: left;
    margin-right: 13px;
    width: 87px;
    z-index: 100;
}

.mod-ricochet .mod-control-group-interval .mod-slider .mod-slider-image {
    background: url(/resources/slider-whammy.png{{{ns}}}) no-repeat;
    height: 315px;
    width: 70px;
}

.mod-ricochet .mod-control-group-times .mod-slider .mod-slider-image {
    background: url(/resources/slider-serial-whammy.png{{{ns}}}) no-repeat;
    background-size: auto 33px;
    height: 33px;
    width: 87px;
}

.mod-ricochet .mod-knob {
    cursor: pointer;
    left: 143px;
    position: absolute;
    top: 225px;
    z-index: 2;
}

.mod-ricochet .mod-knob-image {
    background: url(/resources/ricochet-knob.png{{{ns}}}) no-repeat;
    height: 60px;
    width: 60px;
}

.mod-ricochet .toggle {
    background: url(/resources/switch-key.png{{{ns}}}) no-repeat;
    cursor: pointer;
    height: 73px;
    left: 260px;
    position: absolute;
    width: 30px;
    z-index: 2;
}

.mod-ricochet .toggle.mode {
    top: 60px;
}

.mod-ricochet .toggle.direction {
    top: 140px;
}

.mod-ricochet .toggle.clean {
    top: 220px;
}

.mod-ricochet .toggle.off {
    background-position: center bottom;
}

.mod-ricochet .mod-footswitch {
    background: url(/resources/footswitch.png{{{ns}}}) no-repeat bottom center / auto 132px;
    bottom: 25px;
    cursor: pointer;
    height: 66px;
    left: 142px;
    position: absolute;
    width: 66px;
    z-index: 2;
}

.mod-ricochet .mod-footswitch.on {
    background-position-y: top !important;
}

.mod-ricochet .mod-trigger {
    background: url(/resources/footswitch.png{{{ns}}}) no-repeat bottom center / auto 132px;
    cursor: pointer;
    height: 66px;
    left: 36px;
    position: absolute;
    top: 340px;
    width: 66px;
    z-index: 2;
}

.mod-ricochet .mod-trigger.on {
    background-position-y: top !important;
}

.mod-ricochet .mod-light {
    bottom: 45px;
    height: 32px;
    left: 260px;
    position: absolute;
    width: 32px;
    z-index: 2;
}

.mod-ricochet .mod-light.off {
    background-image: url(/resources/red-light-off.png{{{ns}}});
}

.mod-ricochet .mod-light.on {
    background-image: url(/resources/red-light-on.png{{{ns}}});
}
